.mainContainer {
  position: absolute;
}

.rectangle {
  box-shadow: 0 0 0 1px;
  color: rgba(30, 70, 255, 1);
  cursor: grab;
}

.resizeHandler {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: white;
  box-shadow: inset 0 0 0 1px;
  color: rgba(30, 70, 255, 1);
  border-radius: 30%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.rotateHandler {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.rotateHandler img {
  width: 100%;
  height: 100%;
  filter: invert(10%) sepia(96%) saturate(3906%) hue-rotate(241deg) brightness(119%) contrast(161%);
}

.moveHandler {
  cursor: move;
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.moveHandler img {
  width: 100%;
  height: 100%;
  filter: invert(10%) sepia(96%) saturate(3906%) hue-rotate(241deg) brightness(119%) contrast(161%);
}
