.mainContainer {
  position: absolute;
}

.rectangle {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px;
  color: rgba(30, 70, 255, 1);
}

.resizeHandler {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  box-shadow: inset 0 0 0 1px;
  color: rgba(30, 70, 255, 1);
  border-radius: 30%;
  transform: translate(-50%, -50%);
}

.rotateHandler {
  position: absolute;
  width: 30px;
  height: 30px;
  transition: ease 0.3s;
  transition-property: left, top;
  fill: rgba(30, 70, 255, 1);
}

.rotateHandler svg {
  width: 100%;
  height: 100%;
}

.moveHandler {
  position: absolute;
  width: 30px;
  height: 30px;
  transition: ease 0.3s;
  transition-property: left, top;
  fill: rgba(30, 70, 255, 1);
}

.moveHandler svg {
  width: 100%;
  height: 100%;
}
